:root{
    --pri-background: hsl(273,85%,13%);
    --neu-background: hsl(276,100%,99%);
    --neu-button: hsl(150,100%,63%);
    
    --pri-text: hsl(271,12%,34%);
    --white: hsl(0,0%,100%);
 
    @font-face {
     font-family: manrope;
     src: url("assets/fonts/manrope/Manrope-VariableFont_wght.ttf") format("truetype-variations");
   }
 
 
 }
 
 body{
     margin: 0;
     box-sizing: border-box;
     min-height: 100vh;
 }
 
 header{
     background-color: var(--pri-background);
     display: flex;
     flex-direction: column;
     height: 480px;
     border-radius: ;
 }
 
 header div{
     padding: 32px 16px;
     display:flex;
     justify-content: space-between;
     align-items: center;
     height: 34px;
 }
 
 #accessLink{
     color: var(--white);
     font-family: manrope;
 }
 
 header h1{
     text-align: center;
     color: var(--white);
     font-size: 42px;
 }
 
 header button{
     margin: 15px auto;
     padding: 18px 32px;
 }
 
 header img#hero_phone{
     position: relative;
     top: 34px;
     width: 320px;
     height: 184px;
     margin: 0 auto;
 
 }