:root{
    --pri-background: hsl(273,85%,13%);
    --neu-background: hsl(276,100%,99%);
    --neu-button: hsl(150,100%,63%);
    
    --pri-text: hsl(271,12%,34%);
    --white: hsl(0,0%,100%);
 
    @font-face {
     font-family: manrope;
     src: url("assets/fonts/manrope/Manrope-VariableFont_wght.ttf") format("truetype-variations");
   }
 
 
 }
 
 body{
     margin: 0;
     box-sizing: border-box;
     min-height: 100vh;
 }
 
 header{
     background-color: var(--pri-background);
     display: flex;
     flex-direction: column;
     height: 380px;
     border-radius: ;
 }
 
 header div{
     padding: 32px 16px;
     display:flex;
     justify-content: space-between;
     align-items: center;
     height: 34px;
 }
 
 #accessLink{
     color: var(--white);
     font-family: manrope;
 }
 
 header h1{
     text-align: center;
     color: var(--white);
     font-size: 42px;
 }
 
 header button{
     margin: 15px auto;
     padding: 18px 32px;
 }
 
 header img#hero_phone{
     translate: 0 45px;
     width: 320px;
     height: 184px;
     margin: 0 auto;
 }
 
 header::after{
     content: "";
     width: 100%;
     height: 62px;
     position: absolute;
     display: block;
     background-color: var(--pri-background);
     top: 379px;
     border-radius: 0 0 100% 100%;
     z-index: -1;
 }
 
 main ol{
     padding: 220px 16px 0 16px;
     text-align: center;
     background-color: var(--neu-background);
     position: relative;
     z-index: -2;
     counter-reset: section;
     list-style: none;
 }
 
 main ol li:before{
     content: counter(section);
     counter-increment: section;
     display: block;
     width: 48px;
     height: 46px;
     margin: 0 auto;
     border: 2px solid var(--pri-text);
     border-radius: 100%;
     font-size: 36px;
     
 }
 
 main ol::after{
     content: "";
     width: 100%;
     height: 62px;
     position: absolute;
     display: block;
     background-color: var(--neu-background);
     top: 955px;
     left: 0;
     border-radius: 0 0 100% 100%;
     z-index: -1;
 }
 
 main ol li{
     margin-bottom: 40px;
 }
 
 main ol li h2{
     font-size: 32px;
 }
 
 main ol li p{
     font-size: 18px;
 }