:root{
    --pri-background: hsl(273,85%,13%);
    --neu-background: hsl(276,100%,99%);
    --neu-button: hsl(150,100%,63%);
    
    --pri-text: hsl(271,12%,34%);
    --white: hsl(0,0%,100%);
   }
 
 body{
     margin: 0;
     box-sizing: border-box;
     min-height: 100vh;;
 }
 
 header{
     background-color: var(--pri-background);
     display: flex;
     flex-direction: column;
     height: 380px;
 }
 
 header div{
     padding: 32px 16px;
     display:flex;
     justify-content: space-between;
     align-items: center;
     height: 34px;
 }
 
 #accessLink{
     color: var(--white);
     font-size: 18px;
     line-height: 32px;
     text-decoration: none;
     border-bottom: 1px solid var(--neu-button);
 }
 
 #underline{
     border-bottom: 2.5px solid var(--neu-button);
 }
 
 #accessLink:hover{
     color: var(--neu-button);
     cursor: pointer;
 }
 
 header h1{
     text-align: center;
     color: var(--white);
     font-size: 42px;
 }
 
 header button{
     margin: 15px auto;
     padding: 18px 32px;
     border: 1px solid var(--neu-button);
     background-color: var(--neu-button);
     font-size: 16px;
     font-weight: 700;
 }
 
 button:hover{
     color: var(--neu-button);
     background-color: var(--pri-background);
     cursor: pointer;
 }
 
 header img#hero_phone{
     translate: 0 16px;
     width: 320px;
     height: 184px;
     margin: 0 auto;
 }
 
 header::after{
     content: "";
     width: 100%;
     height: 62px;
     position: absolute;
     display: block;
     background-color: var(--pri-background);
     top: 379px;
     border-radius: 0 0 100% 100%;
     z-index: -1;
 }
 
 main{
     margin-bottom: 50px;;
 }
 
 main ol{
     padding: 220px 16px 0 16px;
     text-align: center;
     background-color: var(--neu-background);
     position: relative;
     z-index: -2;
     counter-reset: section;
     list-style: none;
 }
 
 main ol li:before{
     content: counter(section);
     counter-increment: section;
     display: block;
     width: 48px;
     height: 46px;
     margin: 0 auto;
     border: 1.5px solid var(--pri-text);
     border-radius: 100%;
     font-size: 36px;
     font-family: "fraunces";
     
 }
 
 main ol::after{
     content: "";
     width: 100%;
     height: 62px;
     position: absolute;
     display: block;
     background-color: var(--neu-background);
     top: 968px;
     left: 0;
     border-radius: 0 0 100% 100%;
     z-index: -1;
 }
 
 main ol li{
     margin: 0 auto;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 60px 42px 104px;
     max-width: 573px;
     margin-bottom: 40px;
 }
 
 main ol li:nth-child(2), main ol li:last-child{
     grid-template-rows: 60px 42px 132px;
 }
 
 main ol li h2{
     font-size: 26px;
     margin: 0;
 }
 
 main ol li p{
    font-size: 16px;
     margin: 0;
     color: var(--pri-text)
 }
 
 section.founders_mess{
     padding: 112px 16px 0 16px;
     display: grid;
     grid-template-rows: 228px 53px 300px;
     grid-template-columns: 1fr;
     max-width: 343px;
     min-height: 620px;
     margin: 0 auto;
 }
 
 .founders_mess img{
     width: 281px;
     height: 281px;
     grid-row: 1/span2;
     grid-column: 1/1;
     justify-self: center;
 
 }
 
 .message{
     grid-row: 2/span2;
     grid-column: 1/1;
     text-align: center;
     background-color: var(--pri-background);
     padding: 42px 0;
 }
 
 .message h2{
     color: var(--white);
     font-size: 32px;
 }
 
 .message p{
     padding: 0 32px;
     color: var(--white)
 }
 
 .message button{
     margin: 24px 0;
     padding: 18px 36px;
     color: var(--pri-background);
     background-color: var(--neu-button);
     border: 1px solid var(--neu-button);
     font-size: 16px;
     font-weight: 700;
 }
 
 .message button:hover{
     color: var(--neu-button);
     background-color: var(--pri-background);
     cursor: pointer;
 }
 
 footer{
     margin-top: 60px;
     display: flex;
     flex-direction: column;
 
 }
 
 .workit_logo{
     margin: 0 auto;
 }
 
 div.socials{
     display: flex;
     justify-content: center;
     margin: 54px 0;
 }
 
 div.socials img{
     margin-right: 48px;
 }
 
 div.socials img:last-child{
     margin-right: 0px;
 }
 
 
 @media (min-width: 682px){
 
     header{
         
         background-image: url(../assets/images/bg-pattern-1.svg), url(../assets/images/bg-pattern-2.svg);
         background-repeat: no-repeat no-repeat;
         background-position: top 61px left -229px, top 175px right -92px;
     }

     header div{
        width: 90%;
        margin: 0 auto;
     }
 
     .message::after{
         content: url(../assets/images/bg-pattern-3.svg);
         position: absolute;
     }
 
     main ol li{
         grid-template-columns: 80px 461px;
         grid-template-rows: 52px 56px;
         text-align: left;
         column-gap: 32px;
     }

     main ol li:nth-child(2), main ol li:last-child{
        grid-template-rows: 52px 56px;
    }
 
     main ol li:before{
         grid-row: 1/3;
         grid-column: 1/1;
         align-self: center;
         text-align: center;
     }
 
     main ol li h2{
         grid-row: 1/span1;
         grid-column: 2/span1;
     }
 
     main ol li p{
         grid-row: 2/span1;
         grid-column: 2/span1;
     }
 
     main ol::after{
         top: 705px;
     }
 
     section.founders_mess{
         grid-template-rows: 151px 130px 245px;
     grid-template-columns: 175px 106px 408px;
     max-width: 689px;
     max-height: 526px;
     }
 
     .founders_mess img{
         grid-row: 1/2;
         grid-column: 1/3;
         justify-self: center;
     
     }
     
     .message{
         grid-row: 2/span2;
         grid-column: 2/span2;
         text-align: left;
         background-color: var(--pri-background);
         padding: 48px 56px;
         
     }
     .message p{
         padding: 0;
     }
 }
 
 @media (min-width: 1220px){
 
     header{
         height: 504px;
         background-position: top 128px left -153px, top 340px right -48px
     }
 
     header div{
         width: 80%;
         padding: 57.78px;
     }
 
     header h1{
         font-size: 80px;
         font-weight: 700;
         line-height: 80px;
         width: 50%;
         margin: 0 auto;
     }
 
     header button{
         margin: 37px auto;
         font-size: 18px;
     }
     header::after{
         height: 226px;
         top: 504px;
     }
 
     header img#hero_phone{
         width: 767px;
         height: 441px;
         translate: 0 12px;
     }
 
 
     main ol{
         display: flex;
         justify-content: center;
         column-gap: 26px;
         padding: 481px 0 0 0;
     }
 
     main ol li:before{
         grid-row: 1/2;
         grid-column: 1/2;
         align-self: start;
         text-align: center;
     }
 
     main ol::after{
         top: 697px;
         height: 226px;
     }
 
     main ol li{
         grid-template-columns: 354px;
         grid-template-rows: 84px 40px 128px;
         text-align: center;
         margin: 0;
         row-gap: 28px;
         column-gap: 0;
         max-width: 354px;
     }

     main ol li:nth-child(2), main ol li:last-child{
        grid-template-rows: 84px 40px 128px;
    }
 
     main ol li h2{
         grid-row: 2/span1;
         grid-column: 1/span1;
         text-align: center;
         font-size: 32px;
         line-height: 40px;
     }
 
     main ol li p{
         grid-row: 3/span1;
         grid-column: 1/span1;
         text-align: center;
        align-self: start;
        font-weight: 500;
        font-size: 15px;
     }
 
 
 
     section.founders_mess{
         grid-template-rows: 173px 304px 170.74px;
     grid-template-columns: 383px 94px 635px;
     max-width: 1112px;
     max-height: 647.74px;
     padding-top:228px;
     }
 
     .founders_mess img{
         width: 477px;
         height: 477px;
     }
 
     .message{
         padding: 64px 64.5px;
         height: 285px;
     }
 
     .message::after{
         translate: 180px;
     }
     
     .message h2, h2{
         font-size: 56px;
         line-height: 64px;
         font-weight: 600;
         margin: 0;
     }
     p{
         font-size: 18px;
         line-height: 32px;
         font-weight: 400;
     }
     .message p{
         margin: 32px 0;
     }
 
     .message button{
         margin: 0;
         padding: 20px 36px;
     }
 
 }